@page
@model DonerNet.Pages.Checkout.ThankYouModel
@{
}
<br /><br /><br />
<h1>Thank you for ordering with us at DönerNet!</h1>
<br />
<div>
    <a class="btn btnDoner alert-primary mt-1 mx-auto" asp-area="" asp-page="/Orders">Go to Orders Page</a>
</div>